<main class="form-signin">
  <form [formGroup]="userForm">
    <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Empleado</h1>
    <div class="form-floating">
      <input formControlName="firstname" type="text" class="form-control" />
      <label for="floatingInput">Nombre</label>
    </div>
    <div class="form-floating">
      <input formControlName="lastname" type="text" class="form-control" />
      <label for="floatingInput">Apellidos</label>
    </div>
    <div class="form-floating">
      <input formControlName="dni" type="text" class="form-control" />
      <label for="floatingInput">DNI</label>
    </div>
    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" />
      <label for="floatingInput">Email address</label>
    </div>
    @if(!user){
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" />
      <label>Contraseña</label>
    </div>
    } @if(userLogin?.role === roles.ADMIN){
    <select formControlName="role" class="form-select" aria-label="Roles">
      <option value="{{ roles.ADMIN }}">Administrador</option>
      <option value="{{ roles.SUPERVISOR }}">Supervisor</option>
      <option value="{{ roles.EMPLOYEE }}">Empleado</option></select
    >}
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" formControlName="enabled" />
        Activo
      </label>
    </div>
    <div class="d-flex gap-3">
      <button class="w-100 btn btn-lg btn-primary" (click)="onSave()">
        Guardar
      </button>
      @if(user){
      <button
        class="w-100 btn btn-lg btn-danger"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Eliminar</button
      >}
    </div>
  </form>
  <app-alert></app-alert>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">¿Está seguro de que sea eliminar el usuario?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="onRemove()">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
